


<p> Choisissez la dictée de votre choix </p>


<p><strong> Dictée n°1 : La mouche et la fourmi, de Jean de la Fontaine</strong></p>
<a href="@Url.Action("Dictee", "Home")">
    <img src="@Url.Content("~/Content/Images/fourmi.jpg")" style="height: 150px" />
</a>




<p><strong> Dictée n°2 : Le renard et le corbeau, de Jean de la Fontaine </strong></p>
<a href="@Url.Action("Dictee2", "Home")">
    <img src="@Url.Content("~/Content/Images/renardCorbeau.jpg")" style="height: 150px" />
</a>




<p><strong> Dictée n°3 : Le Chat, de Baudelaire </strong></p>
<a href="@Url.Action("Dictee3", "Home")">
    <img src="@Url.Content("~/Content/Images/Chat.jpg")" style="height: 150px" />
</a>


<p><strong> Dictée n°4 : Ma bohème, de Rimbaud </strong></p>
<a href="@Url.Action("Dictee4", "Home")">
    <img src="@Url.Content("~/Content/Images/boheme.jpg")" style="height: 150px" />
</a>